{% extends 'layout.html' %}
<!-- 继承模板 -->

{% block main %}
<ol class="breadcrumb">
    <li>
        <a href="#">管理首页</a>
    </li>
    <li>
        <a href="#">用户列表</a>
    </li>
</ol>
<h3>用户列表</h3>
<!-- 引用分页组件 -->
{% include "page.html" %} 
<table class="table table-hover table-striped">
    <tr>
        <th>id</th>
        <th>用户名</th>
        <th>密码</th>
        <th>管理员</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{user._id.toString()}}</td>
        <td>{{user.username}}</td>
        <td>{{user.password}}</td>
        <td>
            {% if user.isAdmin %}是{% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}